.header {
  color: purple;
}

.elements {
  color: green;

}

.lorem {
  background-color: yellow;
  font-style: italic; 
}

.tempora {
  color: blue;
  font-size: 200%;  
}

.ref {
  color: purple;  
}